html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/b1.jpg');
    background-size: cover;
    display: flex;
    justify-content: center; /* truc chinh */
    align-items: center; /* truc phu */ 
}

div.form {
    display: flex;
    flex-flow: column;
    height: 50%;
    width: 25%;
    align-items: center;
    background-color: rgba(242, 241, 239, 1);
    justify-content: space-around;
    border-radius: 5%;
}

label {
    font-family: sans-serif;
    font-size: 15px;
}

label.text {
    margin-left: 10%;
    font-family: sans-serif;
    font-size: 15px;
}

input.text {
    padding-left: 1%;
    width: 30%;
    border-radius: 2rem;
    border: 1px solid gray;
    font-size: 15px;
    font-family: sans-serif;
    justify-content: center;
}

div.cd {
    font-family: sans-serif;
    font-size: 15px;
    justify-content: space-around;
}

button {
    height: 10%;
    width: 30%;
    background-color: rgba(149, 165, 166, 1);
    border: 1px solid rgba(149, 165, 166, 1);
    border-radius: 0.5rem;
}

button:hover {
    background-color: rgba(101, 198, 187, 1);
    transition: 0.5s;
}