html {
    height : 100%;
}
body{
    height:100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/hehe.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center; /* trục chính */
    align-items: center; /* trục phụ */

}
.form {
    display: flex;
    flex-flow: column;
    height: 60%;
    width: 30%;
    align-items: center;
    background-color: rgba(149, 165, 166, 0.5);;
    justify-content: space-around;
    border-radius: 5%; 
}

img {
    margin-top: -120px;
    border-radius: 50%;
}
img {
    height: 220px;
    width: 220px;
}
b {
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}