<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/cal_bmr.css">
    <title>Tính calo</title>
</head>
<body>
    <div class="form">
        <div class="cd">
            <label for="">Giới tính:</label>
            <i class="fas fa-mars"></i>
            <input type="radio" name="gender" value="male" checked>Nam
            <i class="fas fa-venus"></i>
            <input type="radio" name="gender" value="female">Nữ
        </div>
        <div class="cd">
            <label for="" class="text">Chiều cao của bạn (cm):</label>
            <input type="text" id="height" class="text">
        </div>
        <div class="cd">
            <label for="" class="text">Cân nặng của bạn (kg):</label>
            <input type="text" id="weight" class="text">
        </div>
        <div class="cd">
            <label for="" class="text">Tuổi của bạn:</label>
            <input type="text" id="age" class="text">
        </div>
        <div class="cd">
            <label for="">Bạn vận động thế nào?</label>
            <br>
            <input type="radio" name="cuongdo" value="1.2" checked>Ít vận động (ít hoặc không tập thể dục)
            <br>
            <input type="radio" name="cuongdo" value="1.375">Tập thể dục nhẹ 1-3 ngày/tuần
            <br>
            <input type="radio" name="cuongdo" value="1.45">Tập thể dục vừa phải 3-5 ngày/tuần
            <br>
            <input type="radio" name="cuongdo" value="1.75">Tập thể dục nặng 6-7 ngày/tuần
            <br>
            <input type="radio" name="cuongdo" value="1.95">Tập thể dục rất nặng cả tuần
        </div>
        <button id="calculate">Bắt đầu tính</button>
        <div class="result">
            <p id="result"></p>
        </div>
    </div>


    <script src="../static/js/cal_bmr.js" type="text/javascript"></script>
</body>
</html>